In [3]:
# Print personal information
print("Muhammed")
print("ST1001")
print("naafmuhammed@gmail.com")

Muhammed
ST1001
naafmuhammed@gmail.com

In [4]:
print("Muhammed\nST1001\nnaafmuhammed@gmail.com")

Muhammed
ST1001
naafmuhammed@gmail.com

In [5]:
a = 14
b = 7

In [6]:
print(f"{a} + {b} = {a + b}")
print(f"{a} * {b} = {a * b}")
print(f"{a} - {b} = {a - b}")
print(f"{a} / {b} = {a / b}")

14 + 7 = 21
14 * 7 = 98
14 - 7 = 7
14 / 7 = 2.0

In [7]:

print("1\n2\n3\n4\n5")

1
2
3
4
5

In [8]:
print("\"SDK\" stands for \"Software Development Kit\", whereas\n\"IDE\" stands for \"Integrated Development Environment\".")

"SDK" stands for "Software Development Kit", whereas
"IDE" stands for "Integrated Development Environment".

In [9]:
print("python is an \"awesome\" language.")
print("python\n\t2023")
print('I\'m from Entri.\b')
print("\65")
print("\x65")
print("Entri", "2023", sep="\n")
print("Entri", "2023", sep="\b")
print("Entri", "2023", sep="*", end="\b\b\b\b")

python is an "awesome" language.
python
	2023
I'm from Entri
5
e
Entri
2023
Entr2023
Entri*20

In [10]:
num = 23
textnum = "57"
decimal = 98.3

In [11]:
print("Type of num:", type(num))
print("Type of textnum:", type(textnum))
print("Type of decimal:", type(decimal))

Type of num: <class 'int'>
Type of textnum: <class 'str'>
Type of decimal: <class 'float'>

In [12]:
converted_textnum = int(textnum)

In [13]:
total = num + converted_textnum + decimal

In [14]:
print("Sum of variables:", total)
print("Type of the sum:", type(total))

Sum of variables: 178.3
Type of the sum: <class 'float'>

In [15]:
days_in_year = 365
hours_in_day = 24
minutes_in_hour = 60

In [16]:
total_minutes = days_in_year * hours_in_day * minutes_in_hour

In [17]:
print("Number of days in a year:", days_in_year)
print("Number of hours in a day:", hours_in_day)
print("Number of minutes in an hour:", minutes_in_hour)
print("Total number of minutes in a year:", total_minutes)

Number of days in a year: 365
Number of hours in a day: 24
Number of minutes in an hour: 60
Total number of minutes in a year: 525600

In [18]:
name = input("Muhammedkm: ")

Muhammedkm:  muhammed

In [19]:
print(f"Hi {name}, welcome to Python programming :)")

Hi muhammed, welcome to Python programming :)

In [20]:
conversion_rate = 1.25

In [21]:
pounds = float(input("10: "))

10:  10

In [22]:
dollars = pounds * conversion_rate