MonthNames.py

In [1]:
month_names = {
    1: "January",
    2: "February",
    3: "March",
    4: "April",
    5: "May",
    6: "June",
    7: "July",
    8: "August",
    9: "September",
    10: "October",
    11: "November",
    12: "December"
}

In [10]:
month = int(input("february: "))

february:  2

In [9]:
if 1 <= month <= 12:
    print(f"Month {month} is {month_names[month]}")
else:
    print("Invalid month number. Please enter a number between 1 and 12.")

Invalid month number. Please enter a number between 1 and 12.

In [12]:
month = int(input("february: "))

february:  13

In [13]:
if 1 <= month <= 12:
    print(f"Month {month} is {month_names[month]}")
else:
    print("Invalid month number. Please enter a number between 1 and 12.")

Invalid month number. Please enter a number between 1 and 12.

CinemaTicket.py

In [14]:
full_price = 6.0

In [23]:
age = int(input("63: "))

63:  63

In [25]:
if age < 16:
    price = full_price / 2
elif age >= 60:
    price = full_price / 3
else:
    price = full_price

In [26]:
print(f"Your ticket costs £{price:.2f}")

Your ticket costs £2.00

BodyMassIndex.py

In [29]:
weight = float(input("59 (kg): "))
height = float(input("145 (m): "))

59 (kg):  59
145 (m):  145

In [30]:
bmi = weight / (height ** 2)

In [32]:
if bmi < 18.5:
    status = "underweight"
elif 18.5 <= bmi <= 24.9:
    status = "normal"
elif 25 <= bmi <= 29.9:
    status = "overweight"
else:
    status = "obese"

In [33]:
print(f"Your BMI is: {bmi:.2f}")

Your BMI is: 0.00

In [34]:
print(f"You are in the “{status}” range.")

You are in the “underweight” range.

GreatestOfThree.py

In [35]:
num1 = float(input("1: "))
num2 = float(input("2: "))
num3 = float(input("3: "))

1:  1
2:  2
3:  3

In [36]:
if num1 >= num2 and num1 >= num3:
    greatest = num1
elif num2 >= num1 and num2 >= num3:
    greatest = num2
else:
    greatest = num3

In [37]:
print(f"The greatest number is: {greatest}")

The greatest number is: 3.0

In [41]:
num = int(input("0: "))

0:  0

In [42]:
factorial = 1

In [43]:
if num < 0:
    print("Factorial is not defined for negative numbers.")
elif num == 0:
    print("The factorial of 0 is 1.")
else:
    for i in range(1, num + 1):
        factorial *= i
    print(f"The factorial of {num} is {factorial}.")

The factorial of 0 is 1.

In [44]:
num = int(input("1: "))

1:  1

In [45]:
original_num = num

In [46]:
reversed_num = 0

In [47]:
is_negative = num < 0
num = abs(num)

In [48]:
while num > 0:
    digit = num % 10
    reversed_num = reversed_num * 10 + digit
    num //= 10

In [49]:
if is_negative:
    reversed_num = -reversed_num

In [50]:
print(f"The reverse of {original_num} is {reversed_num}.")

The reverse of 1 is 1.

In [52]:
num = int(input("2: "))

2:  2

In [57]:
count = int(input("10"))

10 10

In [58]:
print(f"The first {count} multiples of {num} are:")

The first 10 multiples of 2 are:

In [59]:
for i in range(1, count + 1):
    multiple = num * i
    print(multiple)

2
4
6
8
10
12
14
16
18
20

In [60]:
while True:
    user_input = input(":1")
    print(user_input)
    if user_input.lower() == "done":
        break

: hallo

hallo

: hallo

hallo

: 1

1

: 1

1

: done

done

In [61]:
for i in range(1, 11):
    if i % 3 == 0 and i % 5 == 0:
        print("FizzBuzz")
    elif i % 3 == 0:
        print("Fizz")
    elif i % 5 == 0:
        print("Buzz")
    else:
        print(i)

1
2
Fizz
4
Buzz
Fizz
7
8
Fizz
Buzz

In [62]:
for i in range(5, 0, -1):
    for j in range(i, 0, -1):
        print(j, end=" ")
    print()

5 4 3 2 1
4 3 2 1
3 2 1
2 1
1